name: CI

on:
  push:
    branches: [ main ]
    tags:
      - "v*"
  pull_request:

env:
  IMAGE_NAME: yoorudziankou/my-domain-info

jobs:
  checks:
    name: Lint · Typecheck · Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v1
      - name: Setup dependencies and run checks
        working-directory: backend
        run: |
          uv sync
          make test


  docker:
    name: Build & Push Docker
    needs: checks
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install project dependencies
        run: uv install

      - name: Extract version from tag
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "minor=${VERSION%.*}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.version.outputs.version }}
            ${{ env.IMAGE_NAME }}:${{ steps.version.outputs.minor }}
            ${{ env.IMAGE_NAME }}:latest
